@media screen and (max-width: 1520px){

}
@media screen and (max-width: 1400px){ 
    .detail-info, .detail-img {
        display: block;
        float: none;
        width: 100%;
        max-width: 840px;
        margin: 0 auto 30px;
        position: inherit;
    }  
    .isotope_item {
        width: 33.33%;
    }
    .detail-info .unity {
        display: flex;
        flex-wrap: wrap;
    }
    .detail-info .unity .text {
        width: 33%;
        padding: 0 10px;
    }

}
@media screen and (max-width: 1200px){
    #main {
        padding: 0 10px;
    }
    .home-sev-item .link {
        padding-top: 120px;
    }
    .home-sev-wrap {
        min-height: auto;
    }
    .slider-ct .search-wrap {
        max-width: 650px;
    }
    .isotope_item {
        width: 33.33%;
    }
    .isotope_wrap h3 {
        width: 20%;
    }
    .price-wrap .left {
        width: 100%;
        margin-bottom: 40px;
    }
    .price-tab {
        display: flex;
        flex-direction: row;
    }
    .price-wrap {
        margin-top: 20px;
    }
    .tb-ct-box {
        width: 50%;
        margin-bottom: 20px;
    }
    .hot-price {
        margin: 0 0 20px 0;
    }
    .price-wrap .right {
        float: none;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .price-tab .tablinks, .pop-price .poptablinks {
        text-align: center;
    }
    .detail-info .unity .text {
        width: 50%;
        padding: 0 10px;
    }
}
@media screen and (max-width: 1000px){
    .slider-ct .search-wrap {
        max-width: 650px;
    }
    .slider-ct .search-wrap {
        width: 80%;
        max-width: auto;
    }
    #contents_wrap {
        margin-left: 0;
        margin-top: 60px; 
    }
    .mean-push {
        position: fixed;
        top: 0px;
        right: 17px;
        z-index: 9999;
        padding: 13px 8px;
    }
    #nav_header > ul > li.active > ul {
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 35px;
    }
    #sub-menu:before {
        z-index: 9;
    }
    .mean-push span {
        display: block;
        height: 1px;
        border-top: 2px solid #404040;
        width: 30px;
        margin: 7px;
    }
    #main {
        padding: 0;
    }
    /* Start Header */
    #header_wrap {
        width: 100%;
        background: #fff;
        z-index: 9;
        height: 60px;
    }
    .h_logo {
        padding: 17px 25px;
        text-align: left;
        border-bottom: 1px solid #ececec;
        box-shadow: 0px 0px 7px 0px #ddd;
    }
    .h_logo_txt {
        display: inline-block;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .f_callback, .h_logo_txt:after , .h_logo_favi  {
        display: none;
    }
    #nav_header {
        background: #fff;
        box-shadow: 0px 7px 10px 0px #ddd;
    }
    #nav_header ul {
        padding: 10px 0;
    }
    #nav_header>ul>li>a {
        padding: 5px 0 5px 25px;
        margin: 0;
    }
    /* End Header */

    
}
@media screen and (max-width: 968px){
    
/* Start Masorny */
.masonry_grid {
    margin: 0 0 0 0;
    padding: 0;
}
.masorny_item {
    width: 30.33%;
    margin: 0 1.5% 3% 1.5%;
}
#left, #right {
    padding: 0 20px;
} 
/* End Masorny */    

/* Start Popup */
#show_popup {
    width: 80%;
}

/* End Popup */

/* Start Main Show */
.main_show p {
    display: none;
}
.h_intro_part {
    padding: 110px 0 37px;
}
/* End Main Show */

/* Start Content */
.ct_number {
    padding: 2rem 1rem;
}
.detail_ct {
    margin-bottom: 5rem;
}
.brand_item {
    width: 50%;
}
/* End Content */
}

@media screen and (max-width: 768px){
    
.inner {
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
    box-sizing: border-box;
}


/* Start Content */
.home-sev-item {
    margin-bottom: 20px;
    width: 50%;
}
.slider-ct {
    padding: 0 20px;
}
.slider-ct .search-wrap {
    width: 100%;
}
.slider-ct .h1_line {
    font-size: 37px;
}
.isotope_button span {
    font-size: 2.2vw;
}
.isotope_button {
    padding: 15px 5px;
}
.isotope_item {
    width: 50%;
}
.ct_info_wrap {
    padding: 0 20px;
}
.ct_info, .ct_form {
    width: 100%;
}
.ct_info {
    margin-bottom: 10px;
}
#contact_form li .form-control {
    margin-top: 20px;
}
.tb-ct-box {
    margin-bottom: 25px; 
    width: 50%;
}
.hot-price {
    margin: 0 0 20px 0;
}
.tb-ct-box .list {
    font-size: 14px;
}
.photo-wrap .photo-detail > a, .concept-photo .photo-detail .concept-size, .concept-photo .photo-detail .concept-item {
    width: 33.33%;
}
/* End Content */

/* Start Footer */

/* End Footer */
}

@media screen and (max-width: 568px){ 
    .slider-txt .link {
       display: block;   
    }
    .slider-ct .h1_line {
        font-size: 6.5vw;
    }
    #slider {
        min-height: 265px;
    }
    .slider-ct .search-wrap {
        margin-top: 30px;
    }
    .home-sev-item .link {
        padding-top: 90px;
    }
    .home-list-wrap, .home-sev-wrap {
        margin-bottom: 40px !important;
    }
    #contents {
        padding-bottom: 30px;
    }
    .isotope_wrap h3 {
        width: 25%;
    }
    .isotope_button span {
        font-size: 2.7vw;
    }
    
    .photo-wrap .photo-detail > a, .concept-photo .photo-detail .concept-size, .concept-photo .photo-detail .concept-item {
        width: 50%;
    }
    .tb-ct-box {
        width: 100%;
    }
    .price-tab .tablinks, .pop-price .poptablinks {
        width: 50%;
    }
    .price-tab {
        flex-wrap: wrap;
    }
    .photo-fashion-page .photo-wrap, .fs-wrap {
        width: 100% !important;
    }
    .detail-info .unity .text {
        width: 100%;
    }
}

@media screen and (max-width: 468px){ 

/* Start Header */
.h_intro h1 {
    line-height: 12vw;
    font-size:11vw;
}
.h_intro_txt {
    font-size:14px;
    margin: 10px 0 0;
}
/* End Header */

/* Start Content */
#contents {
    padding-bottom: 35px;
}
.fs-slider {
    height: 58vh;
}
.fs-wrap {
    width: 400px;
    min-height: 100vh;
}
.fs-slider .slick-dots {
    bottom: 0;
    text-align: center;
}
.fs-slider .slick-dots li button:before {
    font-size: 15px !important;
}
.slick-list, .slick-track {
    height: 100% !important;
}
.isotope_item {
    width: 100%;
}
}