<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Jackie Do" />
    <link rel="stylesheet" href="css/default.css" />
	
	<title>Admin Panel</title>
</head>

<body>

    <div id="layout">
        <div id="top">
            Admin Panel
        </div>
        <div id="menu">
            Menu
        </div>
        <div id="main">
            <div class="module">
                <h3>Danh Sách User</h3>
                <div class="content">
                    <form>
                        <div class="input-group">
                            <label>Danh mục:</label>
                            <div class="input-item fixright">
                                <select>
                                    <option>AAA</option>
                                    <option>AAA</option>
                                    <option>AAA</option>
                                    <option>AAA</option>
                                    <option>AAA</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Tiêu đề:</label>
                            <div class="input-item">
                                <input type="text" />
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Nguồn:</label>
                            <div class="input-item">
                                <input type="text" />
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Trích dẫn:</label>
                            <div class="input-item">
                                <textarea rows="5"></textarea>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Nội dung:</label>
                            <div class="input-item">
                                <textarea rows="10"></textarea>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Công bố:</label>
                            <div class="input-item">
                                <label><input type="radio" /> Có</label>
                                <label><input type="radio" /> Không</label>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Tiêu đề:</label>
                            <input type="file" />
                        </div>
                        <div class="input-group">
                            <label></label>
                            <input type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="bottom">
            Copyright
        </div>
    </div>

</body>
</html>