<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Jackie Do" />
    <link rel="stylesheet" href="css/default.css" />
	
	<title>Admin Panel</title>
</head>

<body>

    <div id="layout">
        <div id="top">
            Admin Panel
        </div>
        <div id="menu">
            Menu
        </div>
        <div id="main">
            <div class="module">
                <h3>Danh Sách User</h3>
                <div class="content">
                    <table class="list-table">
                        <tr class="list-heading">
                            <th class="id-col">STT</th>
                            <th>Username</th>
                            <th>Level</th>
                            <th class="action-col">Quản lý</th>
                        </tr>
                        <tr class="list-data">
                            <td>1</td>
                            <td>admin</td>
                            <td>Admin</td>
                            <td>
                                Xoa Sua
                            </td>
                        </tr>
                        <tr class="list-data">
                            <td>1</td>
                            <td>admin</td>
                            <td>Admin</td>
                            <td>
                                Xoa Sua
                            </td>
                        </tr>
                        <tr class="list-data">
                            <td>1</td>
                            <td>admin</td>
                            <td>Admin</td>
                            <td>
                                Xoa Sua
                            </td>
                        </tr>
                        <tr class="list-data">
                            <td>1</td>
                            <td>admin</td>
                            <td>Admin</td>
                            <td>
                                Xoa Sua
                            </td>
                        </tr>
                        <tr class="list-data">
                            <td>1</td>
                            <td>admin</td>
                            <td>Admin</td>
                            <td>
                                Xoa Sua
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="bottom">
            Copyright
        </div>
    </div>

</body>
</html>